In [7]:
import pandas as pd

OptionError: Pattern matched multiple keys

In [2]:
pd.read_csv('data/aluguel.csv', sep=';')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [3]:
data = pd.read_csv('data/aluguel.csv', sep=';')

In [11]:
data

                          Tipo                Bairro  Quartos  Vagas  Suites  \
0                    Quitinete            Copacabana        1      0       0
1                         Casa       Jardim Botânico        2      0       1
2      Conjunto Comercial/Sala       Barra da Tijuca        0      4       0
3                  Apartamento                Centro        1      0       0
4                  Apartamento          Higienópolis        1      0       0
...                        ...                   ...      ...    ...     ...
32955                Quitinete                Centro        0      0       0
32956              Apartamento           Jacarepaguá        3      1       2
32957              Apartamento  São Francisco Xavier        2      1       0
32958              Apartamento                Leblon        2      0       0
32959  Conjunto Comercial/Sala                Centro        0      0       0

       Area   Valor  Condominio    IPTU
0        40  1700.0       500.0    60.0
1       100  7000.0         NaN     NaN
2       150  5200.0      4020.0  1111.0
3        15   800.0       390.0    20.0
4        48   800.0       230.0     NaN
...     ...     ...         ...     ...
32955    27   800.0       350.0    25.0
32956    78  1800.0       800.0    40.0
32957    48  1400.0       509.0    37.0
32958    70  3000.0       760.0     NaN
32959   250  6500.0      4206.0  1109.0

[32960 rows x 9 columns]

In [5]:
type(data)

pandas.core.frame.DataFrame